
#chm101{
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 25px;
  border: 1px solid #000;
}
#mth101{
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 25px;
  border: 1px solid #000;
}
#phy101{
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 25px;
  border: 1px solid #000;
}
#bio101{
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 25px;
  border: 1px solid #000;
}
#gst101{
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 25px;
  border: 1px solid #000;
}
#frn101{
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 25px;
  border: 1px solid #000;
}
#gst103{
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 25px;
  border: 1px solid #000;
}
#eng101{
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 25px;
  border: 1px solid #000;
}
#eng103{
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 25px;
  border: 1px solid #000;
}